@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    width: 1440px;
    padding-left: 122px;
}
.amir1 {
    display: flex;
}
.amirp1 {
    width: 662px;
height: 374px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
}
.amirh1 {
    width: 365px;
height: 93px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
}
.image1 {
    width: 314px;
height: 315px;
margin-left: 190px;
margin-top: 65px;
}
.image2 {
    width: 232px;
height: 203px;
margin-top: 94px;
margin-left: 121px;
}
.amir-flex {
    display: flex;
}
